*README*
*CHANGELOG*
*CHANGES*
*HISTORY*
*AUTHORS*
*CONTRIBUTING*
.git/*
test/*
node_modules/*/test/*
node_modules/*/tests/*
node_modules/*/docs/*
node_modules/*/examples/*
node_modules/mocha/*
node_modules/.bin/mocha
node_modules/.bin/_mocha
node_modules/chai/*
node_modules/docker-lambda/*
node_modules/aws-sdk/*
